<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Modding_Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Modding_Helper.Properties.Settings>
            <setting name="minimizetotray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="closetotray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alwaysontop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stickywindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="controllocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="controlsize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="donotchangethis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoupdate" serializeAs="String">
                <value>True</value>
            </setting>
        </Modding_Helper.Properties.Settings>
    </userSettings>
</configuration>
